*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
	font-family: 'Open Sans', sans-serif;
}

/*header fonts*/
/*h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Zilla Slab', serif;*/
h1, h2, h3, h4 {
	font-family: 'DM Serif'
}
h5, p {
	font-family: 'DM Serif', 'Tinos';
}

body {
	background-color: #F0F8FF;
}

/*Profile info Section*/

#landing-jumbo {
	height: 65vh;
	display: flex;
	align-items: center;
	color: #404040;
	background-color: #ffccee;
	text-align: center;
	margin-bottom: 100px;
}
/*End of Profile Info Section*/





/*Capstone Section*/


.my-proj {
	display: flex;
	padding: 50px;
	justify-content: center;


}

.title {
	text-align: center;
	padding-bottom: 30px;
	font-style: DM serif;
}


.row-developer {
	display: flex;
	justify-content: space-between;
	padding: 50px;
	align-items: center;

}

.h3 {
	padding: 20px;
	background-color: ##e6e6e6;
}


/*End of Capstone Section*/





/*My Accomplishments Section*/

.cap-everything {
	padding-bottom: 50px;
	background-color: #ffccee;
}

#profile-picture {
	display: flex;
	justify-content: center;
	padding-bottom: 10px;
}

img {
	border-radius: 200px;
}


.tech-stack {
	height: 100px;
	margin-top: 15px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

#html {
	background-image:url(../images/html.png);
}

#css {
	background-image: url(../images/css.png);
}

#js {
	background-image: url(../images/JS.png);
}

#gitlab {
	background-image: url(../images/gitlab.png);
}

#google {
	background-image: url(../images/google.png);
}

#work-button {
	margin: 20px;
}

/*End of Accomplishments*/



<!-- Start of Contact the Developer -->

.dev {
	display: flex;
	justify-content: center;
}

.h2 {
	display: flex;
	justify-content: center;
	text-align: center;
	margin-bottom: 30px;
	text-align: center;
	font-style: serif;
	/*padding: 10px*/
}


.last-row {
	padding: 10px;
	background-color: #e6e6e6;
}


h3 {
	font: DM Serif;
}


.map {
	display: flex;
	justify-content: center;
	padding-bottom: 50px;
	height: auto;
	widows: auto;
}

iframe {
	height: 300px;
	width: 500px;
}

.contact-form {
	display: flex;
	justify-content: center;
	padding-bottom: 50px;

}

.First {
	padding-bottom: 10px;
	align-content: center;
}

.Second {
	padding-bottom: 10px;
}

.Third {
	padding-bottom: 10px;
}

.Fourth {
	padding-bottom: 10px;
}

footer {
	display: flex;
	justify-content: flex-end;
	padding: 15px;
	background-color: #F0F8FF;
	text-align: center;
	background-color: #ffccee
}

.ending {
	margin: 10px 0px 5px 0px;
	text-align: center;
	display: flex;
	justify-content: center;
}